*{
    padding: 0px;
    margin: 0px;

}
.container{
    width:100%;
}
.header-container{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
}
.header{
    width: 100%;
    display: flex;
    padding: 15px 00px;
    flex-wrap: wrap;
    justify-content: center;
}
.header-logo-container{
    width: 30%;
    /* overflow: hidden; */
}
.header-logo {
    width: 100%;
}
.img-logo-ig{
    width: 100px;
}
/* Estilos del buscador */
.hedaer-search-container{
    width: 35%;
}
.header-search{
    width: 100%;
}
.header-form-search{
    width: 90%;
}
.header-form-input-search{
    width: 100%;
    border: 0.5px solid ghostwhite;
    background-color: rgba(128, 128, 128, 0.144);
    height: 35px;
    background-image: url('../images/icon/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 35px;
}
.header-form-input-search:focus{
    outline: none;
}
/* Fin de los estilos del buscador */

/* Estilos del menu de instagram */
.header-menu-icon-container{
    width: 30%;
}
.header-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    height: 40px;
    align-content: center;
}
.header-menu i, .menu-icon-perfil{
    min-width: 30px ;
    max-width: 40px;
    cursor: pointer;
    
}
.menu-icon-perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.menu-icon-perfil img{
    width: 100%;
}
/* fin */

/* Estilos de las historias */
.histories-container{
    max-width: 30%;
    margin: 30px auto;
    border: 0.1px solid rgba(175, 175, 175, 0.561);
    border-radius: 5px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.histories{
    max-width: 100%;
    /* background-color: red; */
    /* display: flex;
    flex-wrap: wrap; */
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    overflow-y:hidden;
    /* overflow-y:hidden;
    overflow-x: scroll; */
}
.histories-item{
    display: inline-block;
    width: 80px;
    height: 100%;
    /* background-color: purple; */
    padding:0px 5px;
    cursor: pointer;

}
.histories-item:hover{
    background-color: rgba(212, 211, 211, 0.144);
}
.histories-item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid pink;
}
.histories-item small{
    display: block;
}
/* Fin de los estilos de las historias */

/* Publicaciones */
.card-container{
    max-width: 30%;
    margin: 0px auto;
}
.card{
    width:100%;
    margin-top: 20px;
    border-radius: 10px;
    border: .1px solid rgba(0, 0, 0, 0.116);
}
.card-header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card-profile-user {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card-profile-user .card-img-user{
    width: 60px;
}
.card-profile-user .card-img-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card-options{
    width: 20%;
    font-size: 30px;
    cursor: pointer;
}
.card-username{
    width: 80%;
}
.card-img-container, .card-img img{
    width: 100%;
}
/* FIn de las publicaciones */